<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="biz.paluch.logging.gelf.log4j2">
    <Properties>
        <Property name="graylog.target.host"/>
        <Property name="graylog.target.port"/>
    </Properties>

    <Appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
